.box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0px #000;
    padding: 42px 0px;
    margin: 116px 0px 38px 91px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}