.box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 1px 1px 5px #000;
    padding: 42px 42px;
    border-radius: 5px;
}

.box .title {
    color: orange;
    text-shadow: 2px 4px 0px #000;
    margin-bottom: 10px;
}