.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #1e1b4b;
    border-bottom: #000 solid 10px;
    padding: 10px 20px;
}

.main-header .logo {
    width: 60px;
    height: 60px;
}