.main-button {
    display: inline-block;
    background-color: #4f46e5;
    box-shadow: 5px 5px 0px 0px #000;
    padding: 18px 20px;
    border-radius: 10px;
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    text-decoration: none;
}

.main-button:hover {
    background-color: #4338ca;
}