.main-title {
    font-size: 40px;
    color: orange;
    text-shadow: 2px 4px 0px #000;
    margin-bottom: 10px;
}

.main-title.-second {
    color: #fff;
    padding-top: 50px;
    text-shadow: none;
    text-align: center;
}