.progress-bar {
    width: 370px;
    height: 40px;
    border: 5px solid #000;
}

.progress-bar::-webkit-progress-value {
    background-color: #7C5E99;
}

.progress-bar::-webkit-progress-bar {
    background-color: #f5f5f5;
}

.progress-bar::-moz-progress-bar {
    background-color: #7C5E99;
}