.section {
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7C5E99;
}

.section-1 {
    background-color: #F25A70;
}

.section-2 {
    background-color: #000;
    border-bottom: 10px solid #F25A70;
}